@import '../../styles/vars'

.Todo
	&__list
		margin-top: 20px
		width: 100%
		text-align: left

		&-items
			position: relative
			overflow: hidden
			min-height: 100px
			border-radius: $border-radius

	&__item, &__list-header
		display: flex
		align-items: center
		width: 100%
		padding: 20px 30px 

	&__item
		&:nth-child(odd)
			background-color: $light

		&-id
			width: 10%

		&-username
			width: 20%

		&-email
			width: 25%

		&-text
			width: 35%

		&-status
			width: 10%


	&__pagination
		display: flex
		justify-content: flex-end
		align-items: center
		padding: 20px 0

		.Input
			width: 90px
			margin-left: 15px
			input
				padding: 5px 10px 5px 20px