$black: #1F252D
$gray: #8DA4B9
$light: #F5F7FD
$light2: #f1f1f7

$border-radius: 10px
$shadow: 0 15px 25px 0 rgba(0, 0, 0, .03)

$regular: 'CirceRounded', sans-serif
$bold: 'CirceRoundedBold', sans-serif