@import '~reset-css'
@import './vars'

*
	margin: 0
	padding: 0
	box-sizing: border-box

::selection 
	background: rgba(0, 0, 0, .1)
	color: white

body
	font: 18px $regular
	font-weight: normal
	color: $black

h1
	font: 30px $regular

h2
	font: 20px $regular

.container
	width: 97%
	max-width: 980px
	margin: 0 auto

.page
	padding: 110px 0 50px
